.variation_active {
    border: 1px solid;
}
.product-hero{
    height: 470px;
    position: relative;
}

.price-active {
    border: 1px solid;
}
.product-summary-container{
    width : 100%;
    color: #fff;
    margin-top: 20px
}
.product-variation-image img{
    width: 100%;
}
.product-title{
    color: #333
}
.variation-image img{
    width: 100%;
}
.product-variation-card-container{
    display: block;
    padding: 5px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #888;
}
.variation-color-shape{
    font-size: 18px;
    font-family: "Montserrat-Bold", sans-serif;
    color: #8b4d16;
}

.variatin-finish-look{
    font-size: 12px;
    color: #cd2378;
}
.variation-attribute{
    color: #333;
}
.calculator-container{
    display: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}
b{
    font-family:  "Montserrat-Bold"
}
.tile-info{
    display: flex;
    justify-content: space-between;
}
.viewer-box{
    z-index: 2;
}

/* Cart Page */
#btn_update_cart,
#btn_continue_shopping {
    width : 250px;
}
#btn_update_cart{
    background-color: #ef5f4b;
    color: #fff;
}
#btn_update_cart:hover{
    color: #333;
}
.quantity-left-minus{
    padding: 0 !important;
    position: absolute;
    left: 5px;
    top: 0;
    width: 20px;
    z-index: 1;
    bottom: 0;
}
.quantity-right-plus{
    padding: 0 !important;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.quantity-left-minus span,
.quantity-right-plus span{
    font-size: 12px;
    color: #ef5f4b;
}

.cartItem-image {
    width: 100%;
    /* height: 100px; */
}

.cart-page-one .top-table tbody tr td{
    justify-content: flex-start !important;
}

.cart-main-content{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.item-attributes div{
    font-size: 14px;
    color: #888
}
.item-attributes div span{
    color: #000;
    font-weight: 600;
}
#cartItem-product-show .item-price{
    display: block
}
.cart-item-boxsize-container{
    font-size: 12px;
}
.cartItem-price {
    font-size: 18px;
}
.cart-page-one .top-table tbody tr{
    border: none !important;
}
.cart-item-count{
    font-size: 18px;
}

/* Product Variation view */
.product-image-section{
    margin-top: -150px;
}

.product-applications-container {
    margin-top: 20px;
}

.product-applications-container fieldset{
    border-top: 1px solid #cccccc;
}

.product-applications-container fieldset legend {
    font-size: 16px;
    color: #333333;
    display: flex !important;
    align-items: center;
    width: auto;
    padding-right: 5px;
}

.product-applications-container fieldset legend img {
    width : 20px;
    height: 20px;
    margin-right: 10px;
}

.product-application img {
    width: 50px;
    height: 50px;
}

.product-application  p {
    font-size: 12px;
}
.variation-attribute{
    margin-bottom: 5px;
}
.variation-attribute span{
    color: #ef5f4b;
    margin-right: 10px;
}

.pro-counter {
    margin-top: 10px
}

.product article .product-hover .icons {
    padding-top: 30% !important;
}


#project_container  .project-template-li-container .product-wraper .project-content {
    background-color: orange;
}

#project_container  .project-template-li-container ul .project-template-li-container .product-wraper .project-content {
    background-color: black;
}

#project_container  .project-template-li-container ul .project-template-li-container ul .project-template-li-container .product-wraper .project-content {
    background-color: grey;
}

.project-template-li-container .product-wraper .s-l-opener{
    margin-top: 10px;
}

.product-template-container-li .div-class{
    background-color: #fff;
    padding: 10px;
}